{% extends "base.html.twig" %}

{% block title %}{{ titre }}{% endblock %}

{% block content %}
    <div class="row mt-5">
        <div class="col-md-8 offset-md-2 col-sm-10 offset-sm-1">
            {% if success is not null %}
                {% if success == true %}
                <div class="alert alert-success mb-3" role="alert" id="ctf-success">
                    <h4 class="alert-heading">Success</h4>
                    <p ><b>Flag: </b><em id="flag">{{ flag }}</em></p>
                    <a href="/ctfs/3" class="btn btn-outline-success">Next Level</a>
                </div>
                {% else %}
                <div class="alert alert-danger mb-3" role="alert" id="ctf-failed">
                    <h4 class="alert-heading">Failed</h4>
                    <p><b>Try again</b></p>
                </div>
                {% endif %}
            {% endif %}
            <div class="card">
                <div class="card-header">
                    <h5>Ctf 3</h5>
                </div>
                <div class="card-body">
                    <h5>Enoncé</h5>
                    <p>Afficher le contenu du fichier <code>flag.txt</code> contenu dans le dossier compressé situé dans le dossier <code>/tmp/archives</code></p>
                    <p>Il semble que ce dossier compressé soit protégé par un mot de passe, mais un fichier <code>guess.txt</code> situé dans le même dossier pourra vous aider.</p>
                    <div class="alert alert-info" role="alert">
                        <p><b>Hint: </b>Utilisez la commande <code>unzip</code> pour décompresser le dossier</p>
                        <p><b>Exemple: </b><code>unzip -P password mondossier.zip -d dossier-de-destination</code></p>
                    </div>
                    <hr/>
                    <form method="post" action="/ctfs/3">
                        <div class="row">
                            <div class="col-md-9 col-sm-10">
                                <input type="text" class="form-control" id="cmd" name="cmd" placeholder="Enter a command">
                            </div>
                            <div class="col-md-3 col-sm-2" >
                                <button type="submit" name="submit-cmd" class="btn btn-primary">Execute</button>
                            </div>
                        </div>
                    </form>
                    {% if showAnswerForm %}
                        <hr/>
                        <form method="post" action="/ctfs/3" id="form-answer">
                            <p>Entrez la réponse à la question posée dans le fichier</p>
                            <div class="row">
                                <div class="col-md-9 col-sm-10">
                                    <input type="text" class="form-control" id="answer" name="answer" placeholder="Type your answer">
                                </div>
                                <div class="col-md-3 col-sm-2" >
                                    <button type="submit" name="submit-answer" class="btn btn-primary">check</button>
                                </div>
                            </div>
                        </form>
                    {% endif %}
                </div>
                <div class="card-footer d-flex justify-content-center">
                    <a class="btn btn-danger" href="/">Back</a>
                </div>
            </div>
            {% if output is not null %}
                <div class="alert alert-info mt-3" role="alert">
                    <h4 class="alert-heading">Result</h4>
                    <p><b>Command: </b>{{ cmd }}</p>
                    <ul>
                        {% for line in output %}
                            <li>{{ line }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

        </div>
    </div>

{% endblock %}
{% block javascript %}
    <script type="module" src="/js/ctf-3.js"></script>
{% endblock %}