{% extends "base.html.twig" %}

{% block title %}{{ titre }}{% endblock %}

{% block content %}
    <div class="row mt-5">
        <div class="col-md-10 offset-md-1">
            <div class="d-grid gap-2">
                <button class="btn btn-warning" id="reset-progress" type="button">Reset progress</button>
            </div>
            <hr/>
        </div>
        <div class="col-md-10 offset-md-1 mt-2 mb-2">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card h-100" id="card-level-1">
                        <div class="card-body">
                            <h5 class="card-title d-flex justify-content-between">Level 1 <i id="icon-level-1" class=""></i></h5>
                            <p class="card-text">Exploiter simplement la faille d'injection de commande</p>
                            <a href="/ctfs/1" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-10 offset-md-1" id="full-completion">

        </div>
    </div>
{% endblock %}
{% block javascript %}
<script type="module" src="/js/home.js"></script>
{% endblock %}

